*.a
*.sw*
*.dylib
*.ll
*.bc
*.wast
*.wast.hpp
*.wasm
*.s
*.dot
*.abi.hpp
\#*
\.#*
CMakeCache.txt
CMakeFiles
cmake_install.cmake
Makefile
compile_commands.json
moc_*
*.moc

genesis.json
hardfork.hpp

vendor/boringssl/sources.cmake
vendor/boringssl/third_party/android-cmake/AndroidNdkGdb.cmake
vendor/boringssl/third_party/android-cmake/AndroidNdkModules.cmake
vendor/boringssl/third_party/android-cmake/android.toolchain.cmake
vendor/boringssl/third_party/googletest/cmake/internal_utils.cmake

vendor/libraries/utilities/git_revision.cpp
vendor/libraries/egenesis/egenesis_brief.cpp
vendor/libraries/egenesis/egenesis_full.cpp
vendor/libraries/egenesis/embed_genesis
vendor/libraries/types/type_generator
vendor/libraries/types/types_test

vendor/libraries/wallet/Doxyfile
vendor/libraries/wallet/api_documentation.cpp
vendor/libraries/wallet/doxygen

vendor/libraries/wasm-jit/Source/Programs/Assemble
vendor/libraries/wasm-jit/Source/Programs/Disassemble
vendor/libraries/wasm-jit/Source/Programs/Test
vendor/libraries/wasm-jit/Source/Programs/wavm

programs/cli_wallet/cli_wallet
programs/js_operation_serializer/js_operation_serializer
programs/witness_node/witness_node
programs/data-dir
programs/ultrain-walletd/ultrain-walletd
programs/ultrainiod/ultrainiod
programs/ultrainioc/ultrainioc
programs/launcher/launcher
programs/ultrainio-abigen/ultrainio-abigen

scripts/tn_init.sh

tests/app_test
tests/chain_bench
tests/chain_test
tests/intense_test
tests/performance_test
tests/tests/config.hpp

doxygen

wallet.json
witness_node_data_dir

*.wallet

programs/witness_node/object_database/*

object_database/*

*.pyc
*.pyo

build/*
build-debug/*
cmake-build-debug/
.idea/
*si4project/

etc/ultrainio/node_*
var/lib/node_*
.vscode
.DS_Store
